#header{                                            /* header */
    width: auto;
    height: 150px;
    background-color: #009fbc;
    margin: 0px auto;
}

#score{
    font-family: Hastoler, serif;
    color: #009fbc;
    font-size: 50px;
    text-align: right;
    position: relative;
    margin: 0px 500px auto;
}

puzzle1{
    width: 57px;
    height: 45px;
    position: relative;
    margin: 50px 500px auto;
}

puzzle2{
    width: 66px;
    height: 45px;
    position: relative;
    left: 500px;
    top: -8px;
}


#guesses{
    font-family: "Hastoler Regular", Times, serif;
    color: #009fbc;
    text-align: left;
    font-size: 64px;
    font-weight: 400px;
    position: relative;
    top: 55px;
    left: 36px;                                     /* End of header */
}

#header_buttom_line{
    width: auto;
    height: 13px;
    background-color: #cd6a02;
    position: relative;
    margin: 0px auto;
}

body{                                                    /* Body */
    width: 60%;
	background-color: #f8e6d4;
	margin: 0 auto;
}


#footer{                                                /* Footer */
    background-color: #cccccc;
    width: auto;
    height: 143px;
    margin: 0px auto;
    position: relative;
    top: 605px;
}

#gWord{
	font-family: Hastoler, serif;
	color: #cd6a02;;
	font-size: 50px;
    float: inherit; 
    text-align: center;
    font-size: 100px;                                  
}

div.down{
    width: 494px;
    height: 96px;
    position: relative;
    left: 100px;
    top: -240px;
}                                   

#header_buttom_line2{
    width: auto;
    height: 8px;
    background-color: #cd6a02;
    position: relative;
    top: -215px;                                /* End of footer */
}



.letter{
    font-size: 50px;
    color: #009fbc;
    font-family: Hastoler, serif;
    cursor: pointer;
}

#newgame{
    cursor: pointer;
	background-color: white;
	width: 200px;
	height: 60px;
	font-family: Hastoler, serif;
	font-size: 50px;
	color: #009fbc;
	text-align: center;
	padding: 5px;
	margin: 10px auto;
}

#newgame:hover {
	background-color: #cc6600;
	color: white;
}

.btn{
    cursor: pointer;
	background-color: white;
	width: 200px;
	height: 60px;
	font-family: Hastoler, serif;
	font-size: 50px;
	color: #009fbc;
	text-align: center;
	padding: 5px;
	margin: 10px auto;
}

.btn:hover {
	background-color: #cc6600;
	color: white;	
}

.text {
	font-family: Hastoler, serif;
	font-size: 50px;
	color: #009fbc;
	text-align: center;
	padding: 5px;
	margin: 10px auto;
}

#alphabet {
	background-color: #cacccd;
	width: 400px;
	height: 300px;
	margin: 10px 80px auto;
	float: right;
}

#canvas {
	float: left;
	text-align: right;
}

#mainimg {
	width: 90%;
	height: auto;
	margin: 0px 50px auto;
}