/* div header */
#header{                                           /* header */
    width: auto;
    height: 150px;
    background-color: #009fbc;
    margin: 0px auto;
}

/* div score */
#score{
    font-family: Hastoler, serif;
    color: #009fbc;
    font-size: 50px;
    text-align: right;
    position: relative;
    margin: 0px 500px auto;
}


/* div lives */
#lives{
    font-family: "Hastoler Regular", Times, serif;
    color: #009fbc;
    text-align: left;
    font-size: 64px;
    font-weight: 400px;
    position: relative;
    top: 55px;
    left: 36px;                                     /* End of header */
}

#header_buttom_line{
    width: auto;
    height: 13px;
    background-color: #cd6a02;
    position: relative;
    margin: 0px auto;
}

body{                                                    /* Body */
    width: 60%;
	background-color: #f8e6d4;
	margin: 0 auto;
}

/* div footer */
#footer{                                                /* Footer */
    background-color: #cccccc;
    width: auto;
    height: 143px;
    margin: 0px auto;
    position: relative;
    top: 605px;
}

/* div guess word */
#gWord{
	font-family: Hastoler, serif;
	color: #cd6a02;;
	font-size: 50px;
    float: inherit; 
    text-align: center;
    font-size: 100px;                                  
}                             

#header_buttom_line2{
    width: auto;
    height: 8px;
    background-color: #cd6a02;
    position: relative;
    top: -215px;                                /* End of footer */
}

/* div aplhabet(table of letters) */
#alphabet {
	background-color: #cacccd;
	width: 400px;
	height: 300px;
	margin: 10px 80px auto;
	float: right;
	-webkit-transition: color 0.5s; /*prechod*/
    transition: color 0.5s; /*prechod*/
}

/* letter in alphabet div */
.letter{
    font-size: 50px;
    color: #009fbc;
    font-family: Hastoler, serif;
    cursor: pointer;
}

/* button new game */
#newgame{
    cursor: pointer;
	background-color: white;
	width: 200px;
	height: 60px;
	font-family: Hastoler, serif;
	font-size: 50px;
	color: #009fbc;
	text-align: center;
	padding: 5px;
	margin: 10px auto;
	-webkit-transition: background-color 0.5s; /*prechod*/
    transition: background-color 0.5s; /*prechod*/
}
/* action of button new game when is cursor on it */
#newgame:hover {
	background-color: #cc6600; /*prechod*/
	color: white; /*prechod*/
}

/* buttons (difficulity - easy, hard; category - animals, cities) */
.btn{
    cursor: pointer;
	background-color: white;
	width: 200px;
	height: 60px;
	font-family: Hastoler, serif;
	font-size: 50px;
	color: #009fbc;
	text-align: center;
	padding: 5px;
	margin: 10px auto;
	-webkit-transition: background-color 0.5s; /*prechod*/
    transition: background-color 0.5s; /*prechod*/
}

/* action of buttons (difficulity - easy, hard; category - animals, cities) */
.btn:hover {
	background-color: #cc6600;
	color: white;	
}

/* printed text up to buttons of difficulity & category */
.text {
	font-family: Hastoler, serif;
	font-size: 50px;
	color: #009fbc;
	text-align: center;
	padding: 5px;
	margin: 10px auto;
}

/* images during mistakes */
#divMistake {
	float: left;
	text-align: right;
}

/* img under buttons of buttons of difficulity & category */
#mainimg {
	width: 90%;
	height: auto;
	margin: 0px 50px auto;
}